<main>

    <!-- Container for the form -->

<div class="formcontainer">

<form [formGroup]="loginForm">
    <h4>Please Login</h4>
    <input type="email" placeholder="email here" [formControl]="email" />
    <h5 [hidden]="email.valid||email.untouched">Wrong email format</h5>
    <input type="email" placeholder="password here" [formControl]="password" />
    <h5 [hidden]="password.valid||password.untouched">Password is required and minimum 6 charachters</h5>
    <button class="btnlog" [disabled]="loginForm.invalid" (click)="login()">Login</button>
    <button class="btnre" (click)="reset()">Reset</button>
</form>

<div class="sign">
    <label>Don't have an account?</label> 
    <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
    
</div>

</div>
</main>
